 <%-include('../cabecalho.ejs')%>
     <header>
        <div class="title2">Novo instrutor</div>
        <div class="subtitle">Adicione um novo instrutor</div><br>
      </header>
      <div class="content"> 
        Novo  instrutor cadastrado com sucesso.
      </div>

      <%-include('../rodape.ejs')%>