 <%-include('../cabecalho.ejs')%>
    <header>
      <div class="title2">Novo exercicio</div>
      <div class="subtitle">Adicione um novo exercicio</div><br>  
    </header>
      <div class="content"> 
        Novo exercicio cadastrado com sucesso.
      </div>

      <%-include('../rodape.ejs')%>