 <%-include('../cabecalho.ejs')%>
     <header>
        <div class="title2">Novo Aluno</div>
        <div class="subtitle">Registre um novo aluno</div><br>
      </header>
      <div class="content"> 
        Novo aluno cadastrado com sucesso.
      </div>

      <%-include('../rodape.ejs')%>