 <%-include('../cabecalho.ejs')%>
    <header>
      <div class="title2">Novo aparelho</div>
      <div class="subtitle">Adicione um novo aparelho</div><br>  
    </header>
      <div class="content"> 
        Novo aparelho cadastrado com sucesso.
      </div>

      <%-include('../rodape.ejs')%>